<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Add Book</h1>   
        <form th:action="@{/savebook}" th:object="${book}" method="post" class="mt-4">
	        <p>Author: <input type="text" th:field="*{author}"></p>
	        <p>Title: <input type="text" th:field="*{title}"></p>
	        <p>Publication Year: <input type="text" th:field="*{publicationYear}"></p>
	        <p>ISBN: <input type="text" th:field="*{isbn}"></p>
	        <p>Price: <input type="text" th:field="*{price}"></p>
	        <p>Category: 
			    <select th:field="*{category.id}">
			        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
			    </select>
			</p>
	        <input type="submit" value="Submit" class="btn btn-primary">
    	</form>
    	<a href="/booklist" class="btn btn-secondary mt-2">Back to Book List</a>   	
    </div>    
</body>
</html>
